.header{
    display:flex;
    flex-wrap: wrap;
    color: white;
    gap: 15px;
    align-items: flex-start;
    justify-content: space-between;
}

.header-background{
    background-color: #1F2937;
}
.margin{
    margin-left: 100px;
    margin-right: 100px;
}

ul {
    list-style-type: none;
    font-weight: bold;
  }

  .hero {
    display:flex;
    flex-direction:row;
    text-align: center;
    align-items: flex-start;
    color: white;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
  }

  #luffyimage{
    display: flex;
    flex-basis: 400px;
    margin-bottom: 60px;
  }

  #takemebutton{
    background-color:#3882f6;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
  }

  .info{
    text-align: center;
  }

  .cta-background-color{
    background-color:white;
  }

.img-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.episode-images{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
   
}

.episode-images img {
    display: flex;
    width: 250px;
    height: 250px;
    text-wrap: wrap;
}
.quotebackground {
  background-color: #e5e7eb;
}

.quote-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: wrap;
  padding: 40px;
}
#rengoku-quote{
  display: flex;
  justify-content: flex-end;
  width: 50%;
  font-weight: 500;
}

.calltoaction {
  background-color: #3882f6;
  margin-top: 40px;
  margin-right:200px;
  margin-left:200px;
  margin-bottom: 40px;
  color:white;
  display: flex;
  flex-direction:row;
  padding: 10px;
  border-radius: 5px;
  justify-content: space-between;
}

.crunchyroll{
display: flex;
 justify-content: flex-end;
 align-self: center;
 padding: 5px;
  
}



  
